<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sooo slow!</title>
    <style>
        a {
            font-size: 2em;
        }
    </style>
</head>
<body>
    <a href="/showcase">Showcase</a><br>
    <canvas id="qr"></canvas>

    <script src="vendor/qrcode/build/qrcode.js"></script>
    <script>
        var qrcodedraw = new qrcodelib.qrcodedraw();
        var canvas = document.getElementById('qr');
        var text = window.location.href + 'showcase';

        qrcodedraw.draw(canvas, text, function (error) {
            if (error) {
                console.log(error);
            }
        });
    </script>
</body>
</html>
