<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sooo slow!</title>

    <!-- Of course, we need jQuery -->
    <script src="vendor/jquery/dist/jquery.js"></script>
    <script src="vendor/jqueryui-browser/ui/jquery-ui.js"></script>

    <!-- Bootstrap is awesome -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <script src="vendor/bootstrap/dist/js/bootstrap.js"></script>

    <script src="js/main.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h2>Emoji are cool!</h2>

    <section class="emoji-list">
        <img src="img/emoji/png/amused-black-face-with-closed-eyes-and-mouth.png">
        <img src="img/emoji/png/amused-black-solid-emoticon-face-for-interface.png">
        <img src="img/emoji/png/amused-smiling-black-emoticon-face.png">
        <img src="img/emoji/png/angry-black-emoticon-face.png">
        <img src="img/emoji/png/angry-black-face-1.png">
        <img src="img/emoji/png/angry-black-face.png">
        <img src="img/emoji/png/angry-face-black-emoticon.png">
        <img src="img/emoji/png/astonished-black-emoticon-face-1.png">
        <img src="img/emoji/png/astonished-black-emoticon-face.png">
        <img src="img/emoji/png/black-face-without-mouth.png">
        <img src="img/emoji/png/emoticon-black-face-with-closed-eyes-and-opened-mouth.png">
        <img src="img/emoji/png/emoticon-black-face-with-opened-mouth-1.png">
        <img src="img/emoji/png/emoticon-black-face-with-opened-mouth-and-closed-eyes.png">
        <img src="img/emoji/png/emoticon-black-face-with-opened-mouth.png">
        <img src="img/emoji/png/emoticon-face-with-open-mouth-solid-black-interface-symbol.png">
        <img src="img/emoji/png/eyeglasses-black-face-emoticon.png">
        <img src="img/emoji/png/face-black-symbol-with-closed-eyes-and-opened-mouth.png">
        <img src="img/emoji/png/fake-grinning-black-emoticon-face.png">
        <img src="img/emoji/png/false-grinning-black-face.png">
        <img src="img/emoji/png/flashed-black-emoticon-face-with-circular-sunglasses.png">
        <img src="img/emoji/png/flashed-black-emoticon-face.png">
        <img src="img/emoji/png/flashed-emoticon-face-black-symbol-with-opened-circular-eyes-and-mouth.png">
        <img src="img/emoji/png/grinning-black-face-with-closed-eyes.png">
        <img src="img/emoji/png/grinning-face-black-emoticon-symbol.png">
        <img src="img/emoji/png/grinning-face-showing-teeth-black-solid-emoticon.png">
        <img src="img/emoji/png/grinning-face.png">
        <img src="img/emoji/png/kissing-black-emoticon-face.png">
        <img src="img/emoji/png/kissing-female-black-emoticon-face.png">
        <img src="img/emoji/png/laughing-black-emoticon-face.png">
        <img src="img/emoji/png/laughing-emoticon-black-happy-face.png">
        <img src="img/emoji/png/laughing-face-black-emoticon.png">
        <img src="img/emoji/png/moustache-male-black-emoticon-face.png">
        <img src="img/emoji/png/neutral-black-emoticon-face-symbol.png">
        <img src="img/emoji/png/neutral-black-emoticon-face-with-straight-lines-of-eyes-and-mouth.png">
        <img src="img/emoji/png/neutral-emoticon-face-black-solid-interface-symbol-with-straight-mouth-line.png">
        <img src="img/emoji/png/old-man-black-face-emoticon-with-mustache-and-one-vintage-circular-eyeglass.png">
        <img src="img/emoji/png/open-mouth-black-emoticon-face.png">
        <img src="img/emoji/png/sad-black-emoticon-face-1.png">
        <img src="img/emoji/png/sad-black-emoticon-face.png">
        <img src="img/emoji/png/sad-black-face-emoticon.png">
        <img src="img/emoji/png/sad-black-face-with-closed-eyes-fill-symbol.png">
        <img src="img/emoji/png/sad-emoticon-black-face-symbol.png">
        <img src="img/emoji/png/sad-emoticon-black-face-with-closed-eyes-and-mouth.png">
        <img src="img/emoji/png/sad-emoticon-black-face.png">
        <img src="img/emoji/png/sad-face-black-symbol.png">
        <img src="img/emoji/png/sad-face-of-solid-emoticon.png">
        <img src="img/emoji/png/sad-face-with-closed-eyes-and-mouth-black-emoticon-symbol.png">
        <img src="img/emoji/png/smiling-black-emoticon-face-1.png">
        <img src="img/emoji/png/smiling-black-emoticon-face.png">
        <img src="img/emoji/png/smiling-black-face-with-closed-eyes-and-mouth.png">
        <img src="img/emoji/png/smiling-emoticon-black-face-symbol.png">
        <img src="img/emoji/png/smiling-face-black-circle-with-closed-eyes-and-mouth.png">
        <img src="img/emoji/png/smiling-face-black-emoticon-symbol.png">
        <img src="img/emoji/png/smirking-black-circular-emoticon-face-symbol.png">
        <img src="img/emoji/png/smirking-face-black-emoticon-with-eyeglasses.png">
        <img src="img/emoji/png/stubborn-solid-black-emoticon-face-interface-symbol.png">
        <img src="img/emoji/png/stuck-out-tongue-of-black-face.png">
        <img src="img/emoji/png/sunglasses-black-emoticon-face.png">
        <img src="img/emoji/png/unamused-black-face-emoticon.png">
        <img src="img/emoji/png/winking-black-emoticon-face-symbol.png">
        <img src="img/emoji/png/winking-black-emoticon-face.png">
        <img src="img/emoji/png/winking-emoticon-face-with-stuck-out-tongue-black-symbol.png">
        <img src="img/emoji/png/worried-black-emoticon-face.png">
        <img src="img/emoji/png/worried-black-face.png">
        <img src="img/emoji/png/worried-face-of-black-emoticon.png">
    </section>

    <h2>And so are cats!</h2>

    <section class="cats-list">
        <img src="img/cats/angry.jpg" alt="" class="img-circle">
        <img src="img/cats/hangover.jpg" alt="" class="img-circle">
        <img src="img/cats/wise.jpg" alt="" class="img-circle">
    </section>

    <script src="vendor/timing.js/timing.js"></script>
</body>
</html>
